@import '../../../src/assets/style/border.scss';
@import '../../../src/assets/style/theme.scss';

.container{
    .nav{
        @include border(#ccc,0 0 1px 0 );
        height: .44rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        a{
            text-decoration: none;
            color:#ccc;
            height: 100%;
            line-height: .44rem;
            &.active{
                color: $theme;
                border-bottom:.02rem solid red;
            }
        }
    }
}